{% extends 'food/base.html' %}
{% block title %} Pizzas {% endblock%}
{% load static %}
{% block content %} 
<div class="container-fluid"> 
    <div class="row">
        <div class="col-md-8 text-center">
            <h2 class="title"> Nuestras Pizzas </h2>
            <div class="row">
                {% for pizza in pizzas %}
                <div class="col-md-4 p-4">
                        <img class="picture" src="{{ pizza.pImage }}">
                        <h4 class="pt-3" id="piz{{ pizza.id }}"> {{pizza.name}}</h4>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="pizza{{pizza.id}}" value="{{ pizza.priceM }}"
                                checked>
                                   Med: $ {{ pizza.priceM }}
                            </label>

                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="pizza{{pizza.id}}" value="{{ pizza.priceL }}">
                                       Gde: $ {{ pizza.priceL }}
                                </input>
                            </label>
                        </div>
                        <div>
                            <button class="btn-info mt-3" onclick="addPizza('{{pizza.id}}')"> Agregar al carrito </button>
                        </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 orders">
            <h3 class="text-center">Lista de pedidos</h3>
            <ul id="pcart"></ul>
            <h4 class="text-right" id="ptotal"> Total: $ 0</h4>
        </div>
    </div>
</div>
<script src="{% static 'food/js/orders.js' %}"></script>
 {% endblock %}